.DS_Store
_build/
.mooncakes/
.moonagent/
.vite/
**/design.md
DESIGN.md
**/design.md.bak
**/designnew.md
REVIEW.md
designprompt.md
designreview.md
.gitignore
reviewprompt.md
.claude/
方向.md
harmonymd
todo/